<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKjoKWgL88S8ahvwQd2QA6bPSU6pGija8</string>
	<key>GCM_SENDER_ID</key>
	<string>295342396839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.hp.harismrutihp</string>
	<key>PROJECT_ID</key>
	<string>hari-smruti</string>
	<key>STORAGE_BUCKET</key>
	<string>hari-smruti.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295342396839:ios:cf1f9ba8f91ab6bd0d5282</string>
</dict>
</plist>